*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    /* background-color: brown; */
}

.left{
    width: 25%;
    height: 100vh;
    /* background-color: blue; */
    line-height: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    /* border-right: 2px black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    justify-content: center;
    display: grid;
}


.username{
    margin-bottom: 1%;
    font-size: 30px;
    color: rgb(9, 9, 87);
}

.left img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 50px;
    
}
.details h5{
    margin-right:1%;
    font-size: 16px;
    color: rgb(14, 14, 82);
}

.details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1%;
    /* margin-bottom: 1%; */

}

.edit-btn,.logout-btn{
    color:white;
    background-color: rgb(104, 16, 16);
    width: 200px;
    padding: 10px 10px;
    /* margin-right: 8px; */
    border: none;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.edit-btn:hover,.logout-btn:hover{
    background-color: rgb(160, 37, 37);

    color:white;
 }